<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="mylogfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="syslog4net.Filter.LogExceptionToFileFilter, syslog4net">
        <exceptionLogFolder value="C:\Users\dominicl\Desktop\log4net\common-diagnostics\src\example\syslog4net\LogTestApp\bin\Debug\exceptions"/>
      </filter>
      <layout type="syslog4net.Layout.SyslogLayout, syslog4net">
        <structuredDataPrefix value="MW@55555"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <!--appender-ref ref="RollingFileAppender" /-->
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.diagnostics>
    <sharedListeners>
      <!--
      Supported Template Tokens
      
      EventType               - EventType from System.Diagnostics.TraceEventType
      Id                      - Event Id as set by developer's call to TraceSouce.TraceEvent() or similar method
      Message                 - Message as set in the call to TraceEvent()
      MessagePrefix           - TBD?
      Source                  - TraceSource Name as assigned in the app.config and selected in code
      DateTime                - Ouputs Utc Date time based on current server config. Format of date may be dictated as shown below.
                                Formatting Reference: http://msdn.microsoft.com/en-us/library/8kb3ddd4.aspx
      UtcDateTime             - Same as DateTime
      LocalDateTime           - Works the same as DateTime but defaults to the local time zone configured on the machine
      ThreadId                - Current running thread id as reported by Task manager or process explorer
      Thread                  - Current working thread name or ID depending on which is set
      ThreadName              - Current working thread name
      ActivityId              - ActivityId as set by the Correleation Manager
      ReleatedActivityId      - Releated Activity Id as set by the Correlation Manager
      Data                    - Ouput's ToString() on all object instances passed in as part of the paramaterized array on method calls in TraceSource
      Data0                   - Output ToString() on only the first object in the collection
      CallStack               - Current thread callstack of logging statement
      LogicalOperationsStack  - ???
      ProcessId               - Id of current running process as reported by the operating system
      TimeStamp               - Current number of ticks in the timer
      MachineName             - Current network machine name - Environment.MachineName
      ProcessName             - Current name for the running process
      User                    - Environment.UserDomainName + "\\" + Environment.UserName
      Process                 - Environment.CommandLine
      ApplicationName         - Application Name
      AppDomain               - AppDomain.CurrentDomain.FriendlyName
      WindowsIdentityName     - WindowsIdentity.GetCurrent().Name
      
      //TODO: For all HttpTraceContext usages, determine if appropriate, look for better ASP.NET integration to allow log format
      //to capture any and all HTTP Request/Response parameters or values
      RequestUrl              - HttpTraceContext.RequestUrl 
      RequestPath             - HttpTraceContext.RequestPath
      UserHostAddress         - HttpTraceContext.UserHostAddress
      Listener                - Name of the trace listner used for this logging source
      
      -->
      <!--add name="syslog"
           type="Essential.Diagnostics.NetworkTraceListener, Essential.Diagnostics"
           remoteAddress="10.0.1.105"
           remotePort="15808"
           protocol="TCP"
           convertWriteToEvent="true"
           template="&gt;000&lt; 1 {UtcDateTime:yyyy-MM-ddTHH:mm:ss.fffZ} {MachineName} {Source} {ProcessId} [MW@ EventClass='SomeType' EventSeverity='{EventType}']"
           nextSource="ExceptionTrace"/-->
      <add name="syslog"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
           initializeData="C:\Temp\Logs\{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
           convertWriteToEvent="true"
           template="&lt;000&gt;  1 {UtcDateTime:yyyy-MM-ddTHH:mm:ss.fffz}  {MachineName} {User}  {ApplicationName} {ProcessId}-{ThreadId}  [MW@ EventClass='SomeType'  EventSeverity='{EventType}']  {Message}"/>
      <add name="errorRollingfile"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
           initializeData="C:\Temp\Logs\ERROR-{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
           convertWriteToEvent="true"
           template="&lt;000&gt;  1 {UtcDateTime:yyyy-MM-ddTHH:mm:ss.fffz}  {MachineName} {User}  {ApplicationName} {ProcessId}-{ThreadId}  [MW@ EventClass='SomeType'  EventSeverity='{EventType}']  {Message}"/>          
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="ActivityTracing, Verbose, Information">
        <listeners>
          <clear/>
          <add name="syslog"/>
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear/>
          <add name="syslog"/>
        </listeners>
      </source>
      <source name="ExceptionTrace" switchValue="All">
        <listeners>
          <clear/>
          <add name="errorRollingfile"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
